<div class="mt-5 flex justify-center gap-4">
    <button mat-stroked-button (click)="get500Error()">Thử lỗi 500</button>
    <button mat-stroked-button (click)="get404Error()">Thử lỗi 404</button>
    <button mat-stroked-button (click)="get400Error()">Thử lỗi 400</button>
    <button mat-stroked-button (click)="get401Error()">Thử lỗi 401</button>
    <button mat-stroked-button (click)="get400ValidationError()">
        Thử lỗi validation
    </button>
</div>

@if (validationErrors) {
<div class="mx-auto max-w-lg mt-5 bg-red-100">
    <ul class="space-y-2 p-2">
        @for (error of validationErrors; track $index) {
        <li class="text-red-800">{{ error }}</li>
        }
    </ul>
</div>
}
